/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
}

/* font background-size: tyles */
p{
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-family: 'Cinzel Decorative', cursive;
}

h2, h3{
	font-family: 'Lora', serif;
}

/* Layout for Style Tile*/
section {
	margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.color-4,
.color-5,
.pattern-1,
.pattern-2,
.pattern-3, 
.imagery-1,
.imagery-2,
.imagery-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}
/* floats*/
.p1, 
.p2{
	width: 46%;
}

.p1 {
	float: left;
}

.p2{
	float: right;
}


/* Color styling*/
.color-1 {
	background-color: #000000;
}

.color-3 {
	background-color: #FF0000;
}

.color-4 {
	background-color: #CF0053;
}

.color-5 {
	background-color: #C2C2A3;
}

/* Second title color */
em {
	color: #C2C2A3;
}

/* link styles */
a {
	color: #FF0000;
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}